body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url(./img/Background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
}

.skills-padding {
    padding: 60px 0;
}